*{
    background-color: #000000;
}
.page{
    display: flex;
    justify-content: center;
}
.text{
    font-family: 'Bebas Neue', cursive;
    color: aliceblue;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 30px;
    padding-left: 40px;
}
